DB_USER=tu usuario aqui
DB_PASSWORD=tu contraseña aqui
DB_HOST=localhost
DB_NAME=sommeliers
DB_DIALECT=postgres
DB_PORT=5432


STRIPE_PUBLISHABLE_KEY= Tu clave publica
STRIPE_SECRET_KEY=
BACKEND_URL=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
JWT_SECRET=